<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ service.title }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>{{ service.title }}</h1>
        
            <p><strong>Description:</strong> {{ service.description }}</p>
            <p><strong>Price:</strong> ₹{{ service.price }}</p>
            <p><strong>Duration:</strong> {{ service.duration_months }} months</p>
        <a href="{% url 'service_list' %}" class="btn btn-primary">Back to Service List</a>
    </table>
    
    </div>
</body>
</html>
